<h2>Personalia</h2>
<hr>
<div *ngIf="user && personalia">

  {{user.firstname}} 
  <p *ngIf="user.firstname == null || 
            user.firstname == ''" class="red">
    U heeft nog geen voornaam opgegeven.
  </p>
 {{user.lastname}}
  <p *ngIf="user.lastname == null ||
            user.lastname == ''" class="red">
    U heeft nog geen achternaam opgegeven.
  </p>
  <p>{{user.age}}</p>
  <p *ngIf="user.age == null || user.age <= 0" class="red">
    U heeft nog geen leeftijd opgegeven.
  </p>
  <p>{{user.address}}</p>
  <p *ngIf="user.address == null || user.address == ''" class="red">
    U heeft uw adres nog niet opgegeven.
  </p>
  <p>{{user.sex}}</p>
  <p *ngIf="user.sex == null || user.sex == ''" class="red">
    U heeft nog geen geslacht geselecteerd.
  </p>
  <p>{{user.email}}</p>
  <p *ngIf="user.email == null || user.email ==''" class="red">
    U heeft nog geen email opgegeven.
  </p>

  <button type="button" (click)="editPersonalia()">Wijzig uw gegevens</button>


</div>
<app-personalia [personalia]="personalia" 
                [user]="user" 
                (onEdited)="onEdited($event)"
                (onNewUser)="onNewUser($event)"></app-personalia>
<br>


<h2>Vaardigheden</h2>
<hr>



<br>
<h2>Talen</h2>
<hr>

Voeg een taal toe
<button>Toevoegen</button>