<h2>Mijn profiel</h2>

<h3>Personalia</h3>
<hr>

{{personalia-edit user=model.user doSomething='togglePersonalia'}}

<br>
<br>
<h3>Talen</h3>
<hr> 

{{talen-edit user=model.user}}

<button {{action 'readUser'}}>Read User met id=1</button>


 {{outlet}}