<div>
  <h1>Mijn profiel</h1>
  <div>
    <h2>Personalia</h2>
    <div v-show="personaliaComp">
      <hr>
      <div class="gegevens">
        <div>
          <p>Naam: </p>
          <p>Leeftijd: </p>
          <p>Adres: </p>
          <p>Geslacht: </p>
          <p>Email: </p>
        </div>
        <div>
          <p> {{user.firstname}} {{user.lastname}}</p>
          <p v-if="user.firstname == null && user.lastname ==null" class="red">
            U hebt uw naam nog niet ingevuld.
          </p>
          <p> {{user.age}}</p>
          <p v-if="user.age == null || user.age == ''" class="red">
            U hebt uw leeftijd nog niet ingegeven.
          </p>
          <p> {{user.address}}</p>
          <p v-if="user.address == null || user.address == ''" class="red">
            U hebt uw adres nog niet ingegeven.
          </p>
          <p>{{user.sex}}</p>
          <p v-if="user.sex == null || user.sex == ''" class="red">
            U hebt uw geslacht nog niet ingegeven.
          </p>
          <p> {{user.email}}</p>
          <p v-if="user.email == null || user.email ==''" class="red">
            U hebt uw email nog niet ingegeven.
          </p>
        </div>
      </div>
      <p class="klikable" @click="swapPersonalia"> WIJZIG UW GEGEVENS HIER</p>
    </div>
    <div :is="perscurrentcomp">
    </div>
  </div>
  <br>
  <br>
  <div>
    <h2>Talen</h2>
    <hr>
    <div v-if="user.languages.length > 0">
      <p v-for="lang in user.languages" v-bind:key="lang.id">
        {{lang.taal}}
        <span @click="deleteLanguage(lang)" class="klikable">Verwijderen</span>
      </p>
    </div>
    <p v-show="languageComp" class="klikable" @click="swapLanguages"> WIJZIG HIER UW TALEN</p>
    <div :is="langcurrentComp"></div>
  </div>

</div>